@import "normalize.css";
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
dl,
dd,
dt,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
  color: #333;
}
.fixbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 57px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  z-index: 100;
  display: none;
  box-sizing: border-box;
}
.fixbar a {
  display: block;
  height: 100%;
  line-height: 56px;
  color: #586a80;
  font-size: 16px;
}
.fixbar .menu {
  float: left;
  padding-left: 30px;
  background: url(../images/menu.png) left center no-repeat;
}
.fixbar .center {
  float: right;
}
.menu-box {
  position: fixed;
  left: -240px;
  z-index: 100;
  width: 240px;
  height: 100%;
  background: url(../images/info_left_bg.jpg);
  overflow: auto;
  -webkit-transform: translateZ(0px);
  -webkit-overflow-scrolling: touch;
}
.menu-box dl {
  padding: 20px 30px 10px;
  font-size: 16px;
  color: #d2d2d2;
}
.menu-box dl dt {
  line-height: 1;
  margin-bottom: 10px;
}
.menu-box dl dt p {
  font-weight: 700;
  margin-bottom: 5px;
}
.menu-box dl dd {
  height: 45px;
  line-height: 45px;
  padding-left: 24px;
}
.menu-box dl .line {
  position: absolute;
  left: 0;
  top: 168px;
  width: 100%;
  height: 0px;
  box-sizing: border-box;
  border-bottom: 1px #6d6d6d solid;
  box-shadow: -1px 1px 1px #353535;
}
.menu-box dl .gap {
  height: 20px;
}
.menu-box dl a {
  display: block;
  color: #d2d2d2;
}
.topnav {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #8d8d8d;
  border-bottom: 1px solid #c6cbcf;
}
.topnav ul {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.topnav li {
  height: 40px;
  float: left;
  border-left: 1px solid #c6cbcf;
}
.topnav .qrcode {
  width: 228px;
  border-left: 0 none;
  border-right: 1px solid #c6cbcf;
}
.topnav .service {
  width: 325px;
  border-left: 0 none;
}
.topnav .extra {
  width: 180px;
}
.topnav .join {
  width: 242px;
  font-size: 14px;
}
.topnav .join a {
  display: inline-block;
  padding: 6px 0;
  line-height: 1;
}
.topnav .join .signup {
  padding: 6px 8px;
  margin-right: 10px;
  color: #fff;
  background-color: #e61e25;
  border-radius: 3px;
}
.topnav a {
  color: #8d8d8d;
}
.nav {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #c6cbcf;
}
.nav ul {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  bottom: -1px;
}
.nav li {
  float: left;
  position: relative;
}
.nav li.logo {
  margin-right: 30px;
}
.nav li.logo img {
  width: 145px;
  height: auto;
  margin-top: 15px;
}
.nav li.center {
  float: right;
  margin-right: 50px;
}
.nav a {
  display: block;
  padding: 0 15px;
  color: #878787;
}
.nav a:hover {
  color: #333;
}
.nav b {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e61e25;
  display: none;
}
.nav li:hover a,
.nav li.active a {
  color: #000;
}
.nav li:hover b,
.nav li.active b {
  display: block;
}
.swipe {
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe li {
  height: 352px;
  float: left;
  width: 100%;
  position: relative;
}
.swipe li img {
  width: 100%;
  height: 100%;
}
.expertise {
  max-width: 1170px;
  padding: 24px 0;
  margin: 0 auto;
  overflow: hidden;
}
.expertise dl {
  width: 33.3333333%;
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}
.expertise dt {
  line-height: 1;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}
.expertise dd {
  line-height: 2;
  font-size: 14px;
}
.expertise dd span {
  font-size: 10px;
  margin-right: 5px;
  color: #666;
  font-family: cursive;
}
.notify {
  line-height: 1.5;
  font-size: 14px;
  border-top: 1px solid #c6cbcf;
  border-bottom: 1px solid #c6cbcf;
}
.notify ul {
  max-width: 1170px;
  padding: 15px 0;
  margin: 0 auto;
  position: relative;
}
.notify li {
  padding: 0 15px;
  margin: 8px 0;
}
.notify span {
  color: #efb513;
}
.notify a.qa {
  color: #428bca;
  margin: 0 20px;
}
.notify a.apply {
  color: #efb513;
  border-bottom: 1px dashed #efb513;
}
.notify a.tutorial {
  position: absolute;
  right: 100px;
  top: 50%;
  margin: -19px;
}
.notify a.tutorial img {
  width: auto;
  height: 38px;
}
.loan {
  padding: 20px 0 0;
  background: url("../images/box-style-bg.png");
}
.loan .loan-wrap {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.loan .tabs-wrap {
  overflow: auto;
  position: relative;
  -webkit-transform: translateZ(0px);
  -webkit-overflow-scrolling: touch;
}
.loan .tabs {
  min-width: 570px;
  height: 50px;
  line-height: 38px;
  padding-left: 15px;
  font-size: 15px;
  border-bottom: 1px solid #c6cbcf;
}
.loan li {
  display: inline-block;
  padding: 6px 18px;
  margin-right: 15px;
  position: relative;
}
.loan li a {
  display: block;
  color: #333;
}
.loan li b {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #e61e25;
  display: none;
}
.loan li.active b {
  display: block;
}
.loan .intro {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  margin-top: 15px;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 2px 2px 2px #d8d8d8;
  border-radius: 3px;
  position: relative;
}
.loan b.arrow {
  position: absolute;
  left: 50px;
  top: -8px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  z-index: 10;
}
.loan .items {
  padding-top: 15px;
  text-align: justify;
}
.loan .items:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.loan .item {
  width: 31.5%;
  height: 148px;
  padding: 10px 110px 10px 0;
  display: inline-block;
  margin-bottom: 2.25%;
  background-color: #fff;
  box-shadow: 2px 2px 2px #d8d8d8;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}
.loan .blank {
  width: 31.5%;
  height: 0;
  display: inline-block;
  overflow: hidden;
}
.loan .new {
  background-color: #e61e25;
}
.loan .new .brief dt {
  color: #fff;
}
.loan .new .brief .title {
  color: #fff;
  opacity: 0.5;
}
.loan .new .brief .cont {
  color: #fff;
}
.loan .new .rate {
  border-left-color: #c0191f;
}
.loan .new .rate h6 {
  color: #fff;
}
.loan .new .rate .extra span {
  color: #fff;
}
.loan .done {
  background-color: #e6e6e6;
}
.loan .done:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/loan-status-5.png) center no-repeat;
  background-size: auto 72%;
}
.loan b.icon {
  background-image: url(../images/novice.png);
  height: 26px;
  width: 28px;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}
.loan .brief {
  padding: 0 15px;
}
.loan .brief dt {
  margin-bottom: 10px;
  font-size: 15px;
  color: #2c3e50;
  font-weight: 700;
}
.loan .brief dd {
  line-height: 1.7;
  overflow: hidden;
}
.loan .brief small {
  font-size: 14px;
}
.loan .brief .title {
  font-size: 12px;
  color: #9ea7b3;
  font-weight: 400;
}
.loan .brief .cont {
  font-size: 18px;
}
.loan .brief .l {
  float: left;
}
.loan .brief .r {
  float: right;
}
.loan .rate {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 100%;
  text-align: center;
  padding-left: 2px;
  padding-top: 10px;
  border-left: 1px dashed #d5d5d5;
  background-color: transparent;
  box-sizing: border-box;
}
.loan .rate h6 {
  line-height: 1;
  font-size: 30px;
  font-weight: 700;
  color: #e61e25;
}
.loan .rate small {
  font-size: 14px;
}
.loan .rate .extra {
  font-size: 12px;
  line-height: 1;
  padding-top: 6px;
}
.loan .rate .extra b {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #721786;
}
.loan .rate .extra span {
  display: block;
  margin-top: 6px;
  font-weight: 400;
  color: #9ea7b3;
}
.loan .rate:before,
.loan .rate:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  z-index: 2;
  left: -6px;
  background-color: #f0f0f0;
  border-radius: 6px;
}
.loan .rate:before {
  top: -6px;
}
.loan .rate:after {
  top: auto;
  bottom: -6px;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
.loan .flags {
  width: 100%;
  height: 45px;
}
.loan .flags span {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 13px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
}
.loan .flags .b {
  color: #f56854;
  border-color: #f56854;
}
.loan .flags .e {
  color: #399;
  border-color: #399;
}
.news {
  max-width: 1170px;
  padding: 30px 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.news .title {
  width: 100px;
  padding: 0 0 10px 15px;
  margin-left: 110px;
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  float: left;
  position: relative;
}
.news .title:after {
  position: absolute;
  right: -7px;
  bottom: -4px;
  width: 8px;
  height: 8px;
  overflow: hidden;
  content: "";
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.news .types {
  float: left;
  margin-left: 40px;
  position: relative;
}
.news .types span {
  display: block;
  width: 55px;
  height: 55px;
  margin-bottom: 35px;
  background-color: #d0d0d0;
  border-radius: 55px;
  position: relative;
  z-index: 10;
}
.news .types span:last-child {
  margin-bottom: 0;
}
.news .types span:hover,
.news .types span.active {
  background-color: #e61e25;
}
.news .types:after {
  content: "";
  position: absolute;
  top: 0;
  left: 27px;
  height: 100%;
  border-left: 1px dashed #ccc;
}
.news .list {
  float: left;
  margin-left: 50px;
}
.news .list li {
  line-height: 2;
  margin: 15px 0;
  font-size: 14px;
}
.news .list a {
  color: #444;
}
.footer {
  margin-top: 30px;
  text-align: center;
  clear: both;
}
.footer .flink {
  height: 35px;
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px solid #dedede;
  position: relative;
}
.footer .flink .share {
  display: inline-block;
}
.footer .flink a {
  margin: 0 5px;
  color: #666;
  display: inline-block;
}
.footer .flink .wechat,
.footer .flink .sina,
.footer .flink .tqq {
  width: 25px;
  height: 24px;
  vertical-align: middle;
  background-color: #d0d0d0;
  border-radius: 24px;
}
.footer .copyright {
  background-color: #333;
  overflow: hidden;
}
.footer .copyright p {
  padding: 20px 0;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}
.footer .copyright .authen {
  margin: 10px 0 30px;
}
.footer .copyright .authen img {
  width: auto;
  height: 42px;
  margin: 0 10px;
}
@media (min-width: 768px) and (max-width: 990px) {
  .topnav ul {
    width: 750px;
  }
  .topnav .qrcode {
    display: none;
  }
  .nav ul {
    width: 750px;
  }
  .nav li a {
    padding: 0 12px;
  }
  .nav .logo {
    margin-right: 0;
  }
  .nav .center {
    margin-right: 0;
    float: none;
  }
  .expertise {
    width: 750px;
  }
  .notify ul {
    width: 750px;
  }
  .loan .loan-wrap {
    width: 750px;
    padding: 0 5px;
  }
  .loan .tabs li {
    padding: 6px 10px;
  }
  .loan .item {
    width: 48%;
    margin-bottom: 3.25%;
  }
}
@media (max-width: 990px) {
  .notify .tutorial {
    display: none;
  }
  .news {
    padding: 30px 15px 30px 10px;
  }
  .news .title,
  .news .types,
  .news .list {
    float: none;
  }
  .news .title {
    width: auto;
    margin: 0;
  }
  .news .types {
    margin: 0;
    text-align: justify;
  }
  .news .types span {
    display: inline-block;
    margin: 25px 0 0;
  }
  .news .types:after {
    position: static;
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
  }
  .news .list {
    margin: 0;
  }
  .footer .flink .share {
    display: none;
  }
}
@media (max-width: 767px) {
  .wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .container {
    padding-top: 57px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .pull-right {
    transform: translateX(240px);
    -ms-transform: translateX(240px);
    -webkit-transform: translateX(240px);
    -o-transform: translateX(240px);
    -moz-transform: translateX(240px);
  }
  .fixbar {
    display: block;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .menu-box {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .topnav {
    display: none;
  }
  .nav {
    display: none;
  }
  .swipe li {
    height: 200px;
  }
  .notify ul {
    padding: 5px 0;
  }
  .notify li {
    padding-left: 10px;
  }
  .expertise {
    display: none;
  }
  .loan {
    padding-top: 5px;
  }
  .loan .loan-wrap {
    padding: 0 8px;
  }
  .loan li {
    padding: 6px 10px;
    margin-right: 10px;
  }
  .loan .item {
    width: 100%;
    margin-bottom: 15px;
  }
  .loan .brief {
    padding: 0 10px;
  }
  .footer {
    display: none;
  }
}
