<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="./lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <style>
    #app {
      width: 1000px;
      margin: 50px auto;
    }
  </style>
</head>

<body>
  <div id="app">

    <!-- panel 面板 -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">添加品牌</h3>

      </div>
      <div class="panel-body">

        <div class="form-group form-inline">
          <div class="input-group">
            <div class="input-group-addon">编号</div>
            <input type="text" class="form-control" v-model="id">
          </div>

          <div class="input-group">
            <div class="input-group-addon">品牌名称</div>
            <input type="text" class="form-control" v-model="name">
          </div>

          <div class="input-group">
            <button class="btn btn-primary" @click="addBrand">添加</button>
          </div>

          <div class="input-group pull-right">
            <div class="input-group-addon">按名称搜索</div>
            <input type="text" class="form-control" v-model="keywords">
          </div>
        </div>



        <!-- 表格区域 -->
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>编号</th>
              <th>品牌名称</th>
              <th>添加时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in searchBrand()" :key="item.id">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.ctime}}</td>
              <td>
                <a href="#" @click="removeBrand(item.id)">删除</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>




  </div>

  <script src="./lib/vue-3.0.js"></script>
  <script>
    let vm = Vue.createApp({
      data() {
        return {
          id: "",
          name: '',
          keywords: '',
          brandList: [
            { id: 1, name: '奔驰', ctime: '2020/9/23' },
            { id: 2, name: '宝马', ctime: '2020/9/21' },
            { id: 3, name: '长安奔奔', ctime: '2014/6/23' },
            { id: 4, name: '千里马', ctime: '2020/5/3' }
          ],

        }
      },
      // created() {
      //   this.brand = localStorage.getItem('brandList') || [];
      //   console.log(this.brand)
      // },
      methods: {

        // 功能1: 添加新品牌
        addBrand() {
          // 分析: 
          // 1.要判断用户输入的内容是否为空
          if (!(this.id && this.name)) return alter("数据不能为空!");
          // 2.组织出一个新的品牌对象 添加到数组中
          const newBrand = {
            id: parseInt(this.id),
            name: this.name,
            ctime: new Date().toLocaleDateString()
          }
          // 3.把新的品牌添加到品牌列表中去
          this.brandList.push(newBrand);
          // 4.把input置空
          this.id = "";
          this.name = "";

          // console.log(JSON.stringify(this.brandList))
        },
        // 搜索
        searchBrand() {
          const result = this.brandList.filter(item => {
            return item.name.includes(this.keywords);
          })

          return result;
        },

        // 删除
        removeBrand(id) {
          // 根据id,找到要删除哪一项的索引值
          const index = this.brandList.findIndex(item => item.id === id);
          this.brandList.splice(index, 1);
        }
      }
    }).mount('#app')
  </script>

</body>

</html>