<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }

    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }

    .grid th,
    td {
      padding: 10;
      border: 1px dashed orange;
      height: 35px;
      line-height: 35px;
    }

    .grid th {
      background-color: orange;
    }

    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: orange;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="grid">
      <div>
        <h1>图书管理</h1>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>
            <input type="text" id="id" v-model="id">
            <label for="name">
              名称：
            </label>
            <input type="text" id="name" v-model="name">
            <button @click="handleAdd">提交</button>
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in books" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
              <a href="">修改</a>
              <span>|</span>
              <a href="" @click.prevent="handelDel(item.id)">删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="./lib/vue-3.0.0.js"></script>
  <script>
    let vm = Vue.createApp({
      // data数据域
      data() {
        return {
          id: '1',
          name: "",
          books: ""
        }
      },
      // 当页面打开 我们要获取数据,数据在localStorage中
      created() {
        // 获取localstorage中的数据 如果没有怎么办
        this.books = JSON.parse(localStorage.getItem('books') || '[]');
      },
      methods: {
        // 添加图书
        handleAdd() {
          // 1.获取到编号
          // 2.获取到名称
          // 3.组成新的对象
          // 4.把对象放到books里面
          this.books.push({
            id: new Date().valueOf(),
            name: this.name,
            date: new Date().toLocaleDateString()
          })
          // 5.把localstorage中的数据进行更新
          // localStorage.setItem('books', JSON.stringify(this.books));
          // 6.清空输入框
          this.id = "";
          this.name = "";
        },

        // 删除图书
        handelDel(id) {
          // console.log(id);
          // console.log(this);
          let index = this.books.findIndex(item => item.id == id);
          // console.log(index);
          this.books.splice(index, 1);
          // 5.把localstorage中的数据进行更新
          // localStorage.setItem('books', JSON.stringify(this.books));
        }
      },
      // updated当数据有变化 就会执行  只要数据有变化 就把数据更新到localStorage中
      updated() {
        localStorage.setItem('books', JSON.stringify(this.books));
      }
    }).mount('#app');
  </script>
</body>

</html>